body {
    background-color: #333;
}

h1{
    font-size: 10vw;
    font-weight: 500;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #9900ff;
}

.privacy-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9900ff;
    z-index: 999;
}